<footer class="footer">
    <div class="RRSS">
        <h3>Somos una organizacion que se dedica a almacenar avistamientos de aves en todo Chile para análisis de datos</h3>
        <hr>
        <p>Nuestras redes sociales:</p>
        <a href="https://facebook.com" target="_blank"><img src="{{ url_for('static', filename='assets/img/facebook.png') }}" alt="" ></a>
        <a href="https://instagram.com" target="_blank"><img src="{{ url_for('static', filename='assets/img/instagram.png') }}" alt="" ></a>
        <a href="https://twitter.com" target="_blank"><img src="{{ url_for('static', filename='assets/img/twitter.png') }}" alt="" ></a>
        <a href="https://youtube.com" target="_blank"><img src="{{ url_for('static', filename='assets/img/youtube.png') }}" alt="" ></a>
        <p> 2026 The Bird Log™ </p>
    </div>
    <div class="contact">
        <p>Autor: Matías Cisterna Rocco</p>
        <p>Contacto: matias.cisterna.r@ug.uchile.cl</p>
        <p>FCFM, Universidad de Chile</p>

    </div>
</footer>